@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Unbounded:wght@200..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.paragraph-page {
  font-family: Geologica;
  font-weight: 300;
  font-size: 20px;
  max-width: 550px;
  margin-top: 20px;
}

.paragraph-page-faded {
  font-family: Geologica;
  font-weight: 300;
  font-size: 20px;
  max-width: 700px;
  margin-top: 10px;
}

.paragraph-page-faded2 {
  font-family: Geologica;
  font-weight: 300;
  font-size: 20px;
  max-width: 700px;
  margin-top: -130px;
}

.paragraph-page-faded2-rotated {
  font-family: Geologica;
  font-weight: 300;
  font-size: 20px;
  max-width: 700px;
  margin-top: -130px;
}

.paragraph-page-bold {
  font-family: Geologica;
  font-weight: 500;
  font-size: 25px;
  max-width: 550px;
  margin-top: 20px;
  color: black;
  line-height: 1.1;
}

.tittle-page {
  font-family: Geologica;
  font-weight: 700;
  font-size: 36px;
  max-width: 800px;
  width: 100%;
  line-height: 1.1;
}
.subtittle-page {
  font-family: Poppins;
  font-size: 33px;
  font-weight: 600;
  text-align: center;
  max-width: 600px;
  margin: 50px 0px 50px 0px;
}

.font-resources {
  font-family: Geologica;
  font-weight: 400;
  font-size: 18px;
  max-width: 150px;
  text-align: center;
}

.mobile {
  display: none;
}
.desktop {
  visibility: inline-block;
}

@media (max-width: 880px) {
  .mobile {
    display: inline-block;
  }
  .desktop {
    display: none;
  }

  .tittle-page {
    font-size: 30px;
  }
  .paragraph-page {
    font-size: 18px;
  }
  .paragraph-page-faded {
    font-size: 17px;
    margin-top: 0;
  }
  .paragraph-page-faded2 {
    font-size: 17px;
    margin-top: 0;
  }
  .paragraph-page-faded2-rotated {
    font-size: 17px;
    margin-top: 50px;
  }
  .paragraph-page-bold {
    font-size: 17px;
    font-weight: 300;
  }
}
